@{
    ViewBag.Title = DateTime.Now.Year;
}


<div >
    
        <h1>VipCoin</h1>
        <p>Информацией о стоимости криптовалют</p>
        
        
        
        </div>

<div class="row">
    
   <div class="col-md-4">
        <h3>Bitcoin</h3>
        <p>Монета с капитализацией "выводим текущую капитализацию"</p>
        <p><a class="btn btn-default" >Узнать больше</a></p>
    </div>
    <div class="col-md-4">
        <h3>Ethereum</h3>
        <p>Монета с капитализацией "выводим текущую капитализацию"</p>
        <p><a class="btn btn-default">Узнать больше</a></p>
    </div>
    <div class="col-md-4">
        <h3>Verge</h3>
        <p>Монета с капитализацией "выводим текущую капитализацию" </p>
        <p><a class="btn btn-default">Узнать больше</a></p>
        
    </div>
    <table class="table">
    <tr>
        <td>Name</td>
        <td>Market Cap</td>
        <td>Price</td>
        </tr>
        <tr><td>Bitcoin</td>
        <td>Market Cap</td>
        <td>Price</td></tr>
        <tr>
            <td>Ethereum</td>
            <td>Market Cap</td>
            <td>Price</td>
        </tr>
        <tr>
            <td>Verge</td>
            <td>Market Cap</td>
            <td>Price</td>
        </tr>
    </table>
</div>